<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodemoPanel - Edit Profile</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon-32x32.png}">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="container">
    <div class="registration-header">
        <h2 class="ltext">
            <a th:href="@{/}">Foodemo</a><span class="panel_link"><a th:href="@{/panel}">Panel</a></span>
        </h2>
        <p>Your path to success starts here</p>
        <h1 class="mt-5" th:text="${restaurantName}">RESTAURANT NAME</h1>
    </div>


    <div class="row">
        <div class="col-md-4 offset-md-4">

            <div class="registration-form">
                <h2  class=" text-center">Edit Restaurant Address</h2>
                <form  th:action="@{'/panel/restaurant/' + ${restaurantId} + '/edit/profile/address'}" th:method="PUT" th:object="${addressDTO}">
                    <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country" th:field="*{country}" required>
                    </div>
                    <div class="form-group">
                        <label for="street">Street</label>
                        <input type="text" class="form-control" id="street" th:field="*{street}" required>
                    </div>
                    <div class="form-group">
                        <label for="postalCode">Postal Code</label>
                        <input type="text" class="form-control" id="postalCode" th:field="*{postalCode}" required>
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" th:field="*{city}" required>
                    </div>
                    <div class="form-group">
                        <label for="buildingNumber">Building Number</label>
                        <input type="text" class="form-control" id="buildingNumber" th:field="*{buildingNumber}" required>
                    </div>
                    <div class="form-group">
                        <label for="unitNumber">Apartment Number</label>
                        <input type="text" class="form-control" th:field="*{apartmentNumber}" id="unitNumber">
                    </div>
                    <button type="submit" class="btn btn-register bg-primary">Save</button>
                </form>
            </div>
        </div>

    </div>


    <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col">

            <a  th:href="@{'/panel/restaurant/' + ${restaurantId}}" class="btn btn-dark btn-register">Back to Restaurant Panel</a>
        </div>

        <div class="col-md-4"></div>
    </div>

    <div class="row text-center mt-5 mb-3">
        <div class="col-md-12 ">

            <p>Foodemo!</p>

        </div>

    </div>

</div>

</body>
</html>
