<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodemo - Restaurant</title>

    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon-32x32.png}">
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<div class="container">

    <div class="container">
        <div class="registration-header">

            <h2 class="ltext"><a th:href="@{/}">Foodemo</a></h2>
            <p>Hungry? Don't Cook, Just Click!</p>
        </div>


        <div class="jumbotron">
            <h1 th:text="${restaurantDTO.name}">RESTAURANT NAME</h1>
            <p class="mt-5">
                <span th:text="${restaurantDTO.address.street}">STREET</span>
                <span th:text="${restaurantDTO.address.buildingNumber}">BUILDING NUMBER</span>
                <span th:if="${restaurantDTO.address.apartmentNumber != ''  && restaurantDTO.address.apartmentNumber != null}">/</span>
                <span th:text="${restaurantDTO.address.apartmentNumber}">APARTMENT NUMBER</span>
                <br>
                <span th:text="${restaurantDTO.address.postalCode}">POSTAL CODE</span>
                <span th:text="${restaurantDTO.address.city}">CITY</span>
            </p>
        </div>

        <div class="card bg-dark text-white mb-3"  th:if="${restaurantMealsByCategories.size < 1}">
            <div class="card-body">
                <h5 class="card-title">
                    Apologies, but this restaurant currently doesn't have any meals on their menu.
                </h5>
                <p class="card-text">
                     However, the culinary landscape is always evolving, suggesting exciting possibilities in the days to come!
                </p>
                <a th:href="@{/user/restaurants}" class="btn btn-warning btn-register">Back to Restaurants List</a>
            </div>
        </div>

        <form method="POST" th:action="@{'/user/restaurant/' + ${restaurantDTO.restaurantId} + '/order'}">



            <div class="row">
                <div class="col-md-12">


                    <div th:each="element: ${restaurantMealsByCategories}">
                        <h2 th:text="${element.key}">MEAL CATEGORY</h2>
                        <div class="row mt-3 mb-5">
                            <div class="col-md-3 mt-3" th:each="meal : ${element.value}">
                                <div class="card bg-warning border-0">
                                    <div class="card-img-top meal_photo" style="height: 180px;">
                                        <img th:src="${meal.imageName != null ? '/foodemo/upload_images/' + meal.imageName : '/foodemo/images/no_image.jpg'}"
                                             class="card-img-top" style="height: 180px;" alt="meal">

                                    </div>
                                    <div class="card-body">

                                        <span class="badge bg-dark text-warning" style="font-size: 15px;"
                                              th:text="${meal.name}">MEAL NAME</span>

                                        <span class="badge bg-dark text-warning"
                                              style="font-size: 15px;">
                                            <span th:text="${meal.price}">PRICE</span>
                                        </span>

                                        <p class="card-text mt-1" style="font-size: 13px;"
                                           th:text="${meal.description}">MEAL DESC</p>
                                        <div class="row">
                                            <div class="col offset-8">
                                                <select class="form-select form-select-sm"
                                                        aria-label="Small select example"
                                                        th:name="${meal.mealId}">
                                                    <option value="0" selected>0</option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                                    <option value="6">6</option>
                                                    <option value="7">7</option>
                                                    <option value="8">8</option>
                                                    <option value="9">9</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

            </div>

            <div class="row mb-5" th:if="${restaurantMealsByCategories.size > 0}">
                <div class="col text-center">

                    <input type="submit" class="btn btn-dark text-warning"
                           style=" width: 100%; font-size: 30px; padding: 20px 0px; letter-spacing: 10px;"
                           value="Order selected dishes"/>


                </div>
            </div>

        </form>

        <div class="row mt-5"  th:if="${restaurantMealsByCategories.size > 0}">
            <div class="col">

                <a th:href="@{/user/restaurants}" class="btn btn-dark btn-register">Back to Restaurants List</a>
            </div>

        </div>

        <div class="row text-center mt-3 mb-3">
            <div class="col-md-12 ">

                <p>Foodemo!</p>

            </div>

        </div>
    </div>
</div>


</body>
</html>
